/misc/synth/sokol_app.h linguist-vendored
/misc/synth/sokol_audio.h linguist-vendored
/misc/synth/sokol_gfx.h linguist-vendored
/misc/synth/sokol_glue.h linguist-vendored
/misc/synth/sokol_gp.h linguist-vendored
