/fw/build/
/fw/debug/Puya.PY32F0xx_DFP.1.2.1.pack
/fw/PY32F0xx_Firmware_V1.4.1/
/hw/fp-info-cache
/hw/**/*.bak
/misc/synth/*.o
/misc/synth/a.out
/misc/synth/silkscreen.png.h
/misc/synth/web/canta-cart.js
/misc/synth/web/canta-cart.wasm
